/* CardCarousel.css */
.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 350px;
  padding: 25px;
  border: 1px solid #ddd;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
}

.card img {
  max-width: 100%;
  height: auto;
}

button {
  padding: 10px 15px;
  margin: 0 10px;
  border: none;
  background-color: #c6553b;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
}
