.image-cover {
  background: url("../assets/image/bg3.png");
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.image-clue-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
.image-clue-container-header {
  font-size: 35px;
  margin-bottom: 20px;
  padding-top: 70px;
}
.image-clue-container-header1 {
  text-align: center;
  color: #333;
  font-size: 22px;
}

.image-clue-image {
  max-width: 450px;
  margin-bottom: 50px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

.option-image-container {
  display: flex;
  align-items: center !important;
  justify-content: center !important;

  width: 250px;
  height: 250px;
  margin: 10px auto;
  border-radius: 20px;
  cursor: pointer;
  transition: transform 0.2s, border-color 0.2s;
  gap: 20px;
}

.option-image-container img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.option-image-container img:hover {
  transform: scale(1.1);
}

.feedback-message {
  font-size: 25px;
  color: #28a745;
  margin-bottom: 20px;
}

.image-next-button {
  background-color: #c6553b;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.next-button:hover {
  background-color: #95a5a6;
}
